body {
  margin: 0;
  h1 {
    font-family: 'Fleur De Leah', cursive;
    font-weight: 400;
    font-style: normal;
  }

  font-family: 'Courier New', Courier, monospace;
  color: white;
}

code {
  font-family: 'Fleur De Leah', cursive;
  font-weight: 400;
  font-style: normal;
}

.fleur-de-leah-regular {
  font-family: 'Fleur De Leah', cursive;
  font-weight: 400;
  font-style: normal;
}
